<div class="row">
  <div class="col-12">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" fata-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/imagens/800x400.png" alt="Primeiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h4>Nossa especialidade:<br>experiência de compra</h4>
            <img src="../../assets/imagens/orangeBar.png">
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/imagens/800x400.png" alt="Segundo Slide">
          <div class="carousel-caption d-none d-md-block">
            <h4>Nossa especialidade:<br>experiência de compra</h4>
            <img src="../../assets/imagens/orangeBar.png">
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/imagens/800x400.png" alt="Terceiro Slide">
          <div class="carousel-caption d-none d-md-block">
            <h4>Nossa especialidade:<br>experiência de compra</h4>
            <img src="../../assets/imagens/orangeBar.png">
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/imagens/800x400.png" alt="Quartoo Slide">
          <div class="carousel-caption d-none d-md-block">
            <h4>Nossa especialidade:<br>experiência de compra</h4>
            <img src="../../assets/imagens/orangeBar.png">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>
</div>
