<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5">
        <h4>Localização</h4>
        <img src="../../assets/imagens/orangeBar.png">
        <nav class="navbar navbar-expand-sm">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item0">
              <div class="nav-link">
                <h5>São Paulo</h5>
                <p>Rua do Rócio, 423/1801</p>
                <p>Vila Olímpia - SP</p>
                <p>04552-000</p>
                <p>+55 11 3333-3333</p>
              </div>
            </li>
            <li class="nav-item1">
              <div class="nav-link">
                <h5>Rio de Janeiro</h5>
                <p>Vol. da Pátria, 301/702</p>
                <p>Botafogo - RJ</p>
                <p>22270-000</p>
                <p>+55 21 3333-3333</p>
              </div>
            </li>
            <li class="nav-item2">
              <div class="nav-link">&nbsp;</div>
            </li>
            <li class="nav-item3">
              <div class="nav-link">
                <img src="../../assets/imagens/btnContato.png">
                <br>
                <img src="../../assets/imagens/btnConsultor.png">
              </div>
            </li>
            <li class="nav-item4">
              <div class="nav-link">&nbsp;</div>
            </li>
            <li class="nav-item5">
              <div class="nav-link"><img src="../../assets/imagens/created_power.png"></div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

